.portfolio{
    height: auto;
}


.portfolio-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.portfolio-box .numb{
    font-size: 8rem;
    -webkit-text-stroke: .07rem var(--white);
    color: transparent;
    line-height: 1;
}

.portfolio-detail{
    display: none;
}